* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #252525;
    color: whitesmoke;

    font-family: 'Roboto Slab', serif;
}

#toTop {
    background-color: teal;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;

    text-align: center;
    font-size: 22px;
    display: none;

    position: fixed;
    bottom: 15px;
    right: 2.222%;
    cursor: pointer;
}

#toTop:hover {
    color: yellowgreen;
    font-size: 28px;
    height: 38px;
}