:root {
    --color1: #42275a;
    --color2: #734b6d;
    --fontColor1: wheat;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(
        90deg,
        var(--color1),
        var(--color2)
    );

    height: 100vh;
}

header {
    color: var(--fontColor1);

    position: relative;
    text-align: ustify;

    margin: 0;
    left: 42.5%;
    padding-top: 2%;

}

#xName {
    margin: auto;
    padding-top: 20px;
    width: 18%;


    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: var(--fontColor1);

}