* {
    margin: 0.3rem 0;
    padding: 0;
    background-color: #101010;
    color: #F5F5F5;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
}

/* NAV // HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 0.08vw;
    font-weight: 400;
}

#logo {
    width: 50%;
    padding-left: 23vw;
    font-size: 1.3rem; 
}

b:hover {
    color: #101010;
    background-color: #F5F5F5; 
    border-radius: 5px; 
}

/* NAV2 */

#nav {
    width: 50%;
    text-align: right;
    padding-right: 23vw;
    font-size: 1.2444rem;
    font-style: italic;
}

h2.hero-des {
  font-style: italic;
  font-weight: lighter;
}

a {
    text-decoration: none;
}

a:hover {
    color: #101010;
    background-color: #F5F5F5; 
    border-radius: 5px;
}

a:active {
    color: purple;
}

/* HERO */

main {
    position: justify;
    padding: 6vw 28vw;
    max-width: fit-content;
}


h2.hero-des {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; 
    animation: 
    typing 3.5s steps(60, end),
    blink-caret .75s step-end infinite;
}
@media (max-width: 300px) {
  h2.hero-des {  
    font-size: 30%;
  }
} 


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }




  /* THOUGHTS */

  #thou {
    padding: 4vw 28vw;
    font-size: 0.9vw;
  }

  #thoughts h1 {
    color: #7FFFD4;
    font-size: 2vh;
}

  #date h2 {
    font-style: italic;
    font-size: 0.8vw;
    color: #4c4c4c;
  }

#date h3 {
    padding-top: 0.3vw;
}

span.become:hover {
  font-style: italic;
  color: orangered;
  cursor: grabbing;
}

/* SKILLZ */


#knowledge {
    box-sizing:border-box;
    padding: 3.1vw 28vw;
}

.know {
    padding-bottom: 1vw;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #101010;; /* Grey background */
}


.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: #101010;
}

.html {width: 90%; background-color: #aaff7f;} 
.css {width: 80%; background-color: #FFC55C;} 
.js {width: 3%; background-color: #aaff7f;} 
.php {width: 1%; background-color: #FFC55C;} 


/* FOOTER */
footer {
    padding: 60px 0 0 0;
    margin: 20px 0 10px 0;
    text-align: center;
}

h4.copy:hover {
  color: orangered;
}

#copy ,h4.copy, h5.stuff, i.foot{
  font-size: 0.5vw;
  background-color: #F5F5F5;
  color: #101010;
}


/* WORK */

#work {
  position: sticky;
  text-align: center;
  font-size: 150%;
}



h1.work:after {
  content:'My Work!';
  color: #aaff7f;
  font-size: 20px;
}

h1.work:hover:after {
  content: 'I am going to get better!';
  color: #aaff7f;
  font-size: 14px;
}

.picasso, .skyline {
  font-size: 20px;
}




/* EMPTY */ 

#empty {
  margin-bottom: -210px;
}
